/* src/components/Card/Card.module.css */
.container {
  display: flex;
  position: fixed; 
  top: 50%;        
  left: 50%;
  width: 50vw;
  height: 50vh;       
  transform: translate(-50%, -50%); 
  background-color: var(--background-300); 
  border-radius: var(--border-radius-md);
  align-items: center;
  z-index: 101;
}

.txt{
  color: var(--text-800);
  text-shadow: 2px 2px 2px var(--primary-200);
  text-align: left;
}

.infoContainer{
  padding: 2em;
}

.statsContainer{
  padding: 2em;
}

.bar{
  background-color: var(--accent-700);
  box-shadow: 2px 2px 5px 1px var(--primary-400);
  height: 75%;
  width: 10px;
  border-radius: var(--border-radius-md);
}

.closebtn{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  right:0;
  top: 0;
  margin-top: 2%;
  margin-right: 2%;
}

.closebtn rect{
  fill: var(--primary-600);
}

.closebtn:hover{
  opacity: 0.7;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 5px;
}

.input {
  padding: 10px;
  border-radius: var(--border-radius-md);
  background-color: var(--secondary-200);
  color: var(--accent-600);
  min-width: 65%;
  font-weight: 800;
}

.button{
  padding: 10px;
  border-radius: var(--border-radius-lg);
  background-color: var(--accent-600);
  color: var(--text-100);
  cursor: pointer;
  min-width: 70%;

}

@media(max-width:1600px){
  .container{
    width: 80vw;
    height: 80vh;
    flex-direction: column;
  }
  
  .bar{
    height: 10px;
    width: 75%;
  }

  .infoContainer{
    padding: 5em;
  }
  
  .statsContainer{
    padding: 2em;
  }

  .txt{
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-lg);
  }
}

@media(max-width:400px){
  .txt{
    text-align: center;
    font-weight: 400;
    font-size: var(--font-size-md);
  }
}