/* Container styles */
.container {
    max-width: 800px;
    margin: 5vh auto;
    padding: 20px;
    background-color: var(--background-200);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title styles */
.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-950);
}

/* Story styles */
.story {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-900);
    text-align: justify;
}
